@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import "animation";
@media (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}

a {
  text-decoration: none;
}

.v-application {
  font-family: "Montserrat", sans-serif !important;
}
